# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=V4DURNBh7lrkfcof2J0SGQ==,fuDV6QnlIQ8/hW3YHDRv+w==,TdnlPCQNWCpq5+FMJ86Ruw==,Dr24igtttZYzg9NP6t5UlA==
API_TOKEN_SALT=mZ7gLNL4zkom/OJG8XtXQQ==
ADMIN_JWT_SECRET=qNpSdBrbEvWac68sSOnBVg==
TRANSFER_TOKEN_SALT=7J0fBccN+W2hhonCjcAI/g==
ENCRYPTION_KEY=QmcAE/WiXi2GPcHODu5/Ow==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=D0HLIR6aKuGRjggKKSRnZw==